.card-posts {
    grid-area: cd;
    display: flex;
    flex-flow: column;
    background-color: rgb(153, 153, 153);
    padding: 3px;
    border-radius: 8px;
}

.card-posts *{
    background-color: rgb(192, 192, 192);
    margin: 3px;
}
