body {
    background-color: rgb(192, 192, 192);
}

.galery {
    grid-template-columns: 100vw;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
        "tx tx tx tx"
        "pc pc pc pc"
        "ft ft ft ft";
    width: 100vw;
}

.galery * {
    margin-right: 10px;
}

.text {
    grid-area: tx;
    display: flex;
    flex-flow: column;
    padding: 100px;
}

.text-title {
    display: flex;
    flex-flow: row;
    font-size: 1.5em;
    justify-content: space-evenly;
}

h1 {
    text-align: center;
}

a {
    color: inherit;
}

a:hover{
    color: rgb(255, 77, 166);
}

nav {
    font-size: 0.5em;
    display: flex;
    flex-flow: row;
    font-family: 'Rubik', sans-serif;
}

p {
    text-align: justify;
    font-size: 1.5em;
}

.pictuires {
    grid-area: pc;
    display: flex;
    flex-flow: column;
}

.picture p {
    font-size: 1em;
    padding: 10px;
}

.picture {
    margin-bottom: 20px;
    margin-top: 10px;
    padding-left: 30px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.picture img {
    max-width: 70vw;
}

figcaption {
    text-align: center;
}

footer {
    grid-area: ft;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    background: rgb(115, 115, 115);
}

.subscribtion {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.subscribtion:first-child {
    text-align: center;
}

.icon-bar {
    margin: 10px;
    padding: 15px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
}

.fa {
    width: 20px;
    height: 20px;
    text-align: right;
    padding: 0.5em;
}

.icon-bar a:hover {
    background-color: rgb(255, 230, 255);
}

.facebook {
    background: rgb(59, 89, 152);
    color: white;
    margin: 5px;
}

.google {
    background: rgb(221, 75, 57);
    color: white;
    margin: 5px;
}

.linkedin {
    background: rgb(0, 123, 181);
    color: white;
    margin: 5px;
}

.github {
    background-color: rgb(255, 255, 255);
    margin: 5px;
    color: red;
}

@media (max-width:500px) {
    .text {
        padding: 20px;
    }

    h1 {
        font-size: 1em;
    }

    nav {
        font-size: 0.7em;
    }
}

@media (min-width:500px) {
    nav {
        font-size: 0.7em;
    }
}
