.container *{
    border: solid blue 1px;
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
        tl;
        nv;
        bt;
        ft;
}

h1{
    grid-area: tl;
}

nav{
    border: solid yellow 1px;
    grid-area: nv;
}

.card{
    border: solid red 1px;
    grid-area: cr;
}

.buttons{
    border: solid black 1px;
    grid-area: bt;
}

footer{
    border: solid green 1px;
    grid-area: ft;
}






@media(max-width: 320px)
@media(min-width: 901px)
@media(min-width: 600px) and (max-width: 900px)
