.container *{
    background: pink;
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-template-columns: 1fr 2fr;
    /*grid-template-areas:
        "tl"
        "bt"
        "ft";*/
}

h1{
    border: solid pink 1px;
    font-family: 'Great Vibes', cursive;
    font-size: 30px;
}

.title-row{
    grid-area: tl;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

nav {
    border: solid yellow 1px;
}

.card {
    border: solid red 1px;
    grid-area: bt;
    display: flex;
    flex-flow: row;
}

.card figure {
    background: grey;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;

}

figure img {
    border-radius: 15px;
}

figure figcaption {
    padding: 1em;
}

.bio {

}

.buttons {
    border: solid black 1px;
    grid-area: bt;
}

footer {
    border: solid green 1px;
    grid-area: ft;
}






@media(max-width: 320px)
@media(min-width: 901px)
@media(min-width: 600px) and (max-width: 900px)
