body {
   background-color: rgb(192, 192, 192);
}

h1 {
    font-family: 'Great Vibes';
    font-size: 30px;
}

h2 {
    font-family: 'Great Vibes';
}

h3 {
    font-family: 'Crimson Text', serif;
    font-family: 'Itim', cursive;
}

.title-row {
    grid-area: tl;
    text-align: center;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: baseline;
}

a {
    color: inherit;
}

a:hover{
    color: rgb(255, 77, 166);
}

nav {
    font-size: 30px;
    display: flex;
    flex-flow: row;
}

nav {
    font-family: 'Rubik', sans-serif;
}

.content {
    font-size: 14px;
    display: none;
    position: absolute;
    z-index: 1;
}

nav:hover .content {
    display: block;
    position: relative;
}


figure {
    margin:auto;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 5px;

}

.fact {
    text-align: justify;
    padding:  20px;
}

.post-card p {
    text-align: center;
}

figure img {
    border-radius: 15px;
    width: 80%;
}

figure figcaption {
    padding: 1em;
    font-family: 'Great Vibes';
    font-size: 1.5em;
    text-align: center;
}

footer {
    grid-area: ft;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    background: rgb(115, 115, 115);
}

.subscribtion {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.subscribtion:first-child {
    text-align: center;
}

.icon-bar {
    margin: 10px;
    padding: 15px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
}

.fa {
    width: 20px;
    height: 20px;
    text-align: center;
    padding: 0.5em;
}

.icon-bar a:hover {
  background-color: rgb(255, 230, 255);
}

.facebook {
  background: rgb(59, 89, 152);
  color: white;
  margin: 5px;
}

.google {
  background: rgb(221, 75, 57);
  color: white;
  margin: 5px;
}

.linkedin {
  background: rgb(0, 123, 181);
  color: white;
  margin: 5px;
}

.github {
    background-color: rgb(255, 255, 255);
    margin: 5px;
    color: red;
}

nav, .fact {
    font-family: 'Rubik', sans-serif;
}

@media(max-width: 320px) {
    .container {
        display: grid;
        grid-template-rows: repeat(4, auto);
        grid-template-columns: 1fr;
        grid-template-areas:
            "tl"
            "cd"
            "ft";
        grid-gap: 10px;
    }

    .card {
        grid-area: cd;
        display: flex;
        flex-flow: row wrap;
        background-color: rgb(153, 153, 153);
        padding: 3px;
        border-radius: 8px;
    }

    .card *{
        background-color: rgb(192, 192, 192);
        margin: 3px;
    }

    .tablet {
        display: none;
    }

    .large-screen {
        display: none;
    }
}

@media (min-width:320px) and (max-width:600px){
    .container {
        display: grid;
        grid-template-rows: repeat(3, auto);
        grid-template-columns: 1fr;
        grid-template-areas:
            "tl tl tl tl"
            "cd cd cd cd"
            "ft ft ft ft";
        grid-gap: 10px;
    }

    .card {
        grid-area: cd;
        display: flex;
        flex-direction: column-reverse;
        background-color: rgb(153, 153, 153);
        padding: 3px;
        border-radius: 8px;
    }

    .card *{
        background-color: rgb(192, 192, 192);
        margin: 3px;
    }

    figure img {
        max-width: 200px;
    }

    .posts {
        display: none;
    }

    .large-screen {
        display: none;
    }
}

@media (min-width: 600px) and (max-width:900px) {
    .container {
        display: grid;
        grid-template-rows: repeat(4, auto);
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "tl tl tl tl tl tl"
            "cd cd cd cd cd cd"
            "po po po po po po"
            "ft ft ft ft ft ft";
        grid-gap: 5px;
    }

    .title-row {
        font-size: 50px;
    }

    .title-row .fa {
        font-size: 40px;
    }

    .card {
        grid-area: cd;
        display: flex;
        flex-flow: column-reverse;
        background-color: rgb(153, 153, 153);
        padding: 3px;
        border-radius: 8px;
    }

    figure img {
        max-width: 200px;
    }

    .card *{
        background-color: rgb(192, 192, 192);
        margin: 3px;
    }

    .fact {
        padding: 10px;
    }

    .posts {
        grid-area: po;
        display: flex;
        flex-flow: row ;
        align-items: baseline;
        background-color: rgb(153, 153, 153);
        border-radius: 5px;
    }

    .post {

        margin: 5px;
        text-align: center;
        border-radius: 5px;
        padding: 10px;
    }

    .post img {
        border-radius: 3px;
        max-width: 90%;
    }

    .large-screen {
        display: none;
    }
}

@media (min-width:900px) {
    .container {
        display: grid;
        grid-template-rows: repeat(4, auto);
        grid-template-columns: 1fr;
        grid-template-areas:
            "tl tl tl tl tl tl tl tl"
            "cd cd cd cd cd cd cd cd"
            "po po po po po po po po"
            "ft ft ft ft ft ft ft ft";
        grid-gap: 5px;
    }

    .card {
        grid-area: cd;
        display: flex;
        flex-flow: row;
        background-color: rgb(153, 153, 153);
        padding: 3px;
        border-radius: 8px;
    }

    .card *{
        background-color: rgb(192, 192, 192);
        margin: 3px;
    }

    .posts {
        grid-area: po;
        display: flex;
        flex-flow: row;
        align-items: baseline;
        background-color: rgb(153, 153, 153);
        border-radius: 5px;
    }

    .post {

        margin: 5px;
        text-align: center;
        border-radius: 5px;
        padding: 10px;
    }

    .post img {
        border-radius: 3px;
        max-width: 90%;
    }

    .large-screen {
        display: none;
    }
}

@media (min-width:1200px) {
    .fact {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
    }

    .large-screen {
        display: block;
    }
}
